.footer {
    background-color: var(--first-color-lighten);

    &-logo {
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
        font-size: var(--h3-font-size);
        }
        &-title {
            margin-bottom: .5rem;

        }
    &-description, &-link {
        font-size: var(--small-font-size);
        margin-top: .75rem;
        color: var(--text-color);
    }
    &-social {
        padding-block: 1rem;
    }

    &-social-link {
        font-size: 1.3rem;
        color: var(--title-color);
        & > i {
            padding-right: 1rem;
            transition: .3s;
            &:hover {
                transform: scale(1.3);
            }
        }        
    }
    &-copy {
        text-align: center;
        font-size: var(--small-font-size);
        padding-block: 2rem 0;
    }
}