/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 360px){
    .svg-img{
        width: 100%;
    }

    .section{
        padding: 3.5rem 0 1rem;
    }

    .services-img{
        width: 100px;
    }

    .app-buttons{
        grid-template-columns: max-content;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .svg-img{
        width: 100%;
    }

    .section-title-center{
        text-align: initial;
    }

    .home-container, 
    .about-container,
    .security-container,
    .services-container,
    .app-container,
    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .contact-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .home-img{
        order: 1;
    }

    .home-container,
    .about-container,
    .security-container,
    .app-container,
    .contact-container{
        align-items: center;
    }

    .about-data,
    .security-data,
    .app-data,
    .contact-description{
        text-align: initial;
    }

    .about-img,
    .app-img{
        order: -1;
    }
}

@media screen and (min-width: 767px){
    body{
        margin: 0;
    }
    
    .section{
        padding: 6rem 0 2rem;
    }
    .nav{
        height: 4.5rem;
        
            &-list{
                flex-direction: row;
                column-gap: 2.5rem;
            }
            &-toggle{
                display: none;
            }
    }

    .change-theme{
        position: initial;
    }

    .home-container{
        padding: 6rem 0 2rem;
    }

    .app-buttons{
        justify-content: initial;
    }
}

/* For large devices */
@media screen and (min-width: 968px){
    .button-header{
        display: block;
    }

    .svg-img{
        width: 470px;
    }

    .about-container,
    .security-container,
    .app-container,
    .contact-container{
        column-gap: 6rem;
    }

    .services-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .contact-container{
        grid-template-columns: 3fr 1.5fr 1.25fr;
    }

    .footer{
        &-container{
            grid-template-columns: repeat(5, 1fr);
        }
        &-social{
            align-items: flex-start;
            &-link{
                font-size: 1.45rem;
            }
        }
    }
}

@media screen and (min-width: 1024px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .home{
        &-img{
            width: 540px;
        }
        &-description{
            padding-right: 5rem;
        }
    }

    .footer-container{
        column-gap: 3rem;
    }

    .scrollup{
        right: 2rem;
    }
}