.about {
    &-container {
        row-gap: 1.5rem;
    }
    &-data {
        text-align: center;
    }
    
    &-description {
        margin-bottom: 1.5rem;
    } 
    &-img {
        align-items: center;
    }
}